.header {

    &--white {
        background-color:#fff;
    }

    &__top {

        display:flex;
        justify-content:center;
        position:relative; /* utile pour la fleche sur les pages menu */
        /*box-shadow: 0 0 0.5rem rgb(0 0 0 / 50%);*/

        i {
            position: absolute;
            top: 2.5rem;
            left: 10rem;
            font-size: 1.2rem;

            @include mobile-only {
            left:2rem;
            }
        }

        &__logo {
            padding:2rem;
        }
    }
}

.footer {

    text-align: center;
    background-color: #353535;
    color:white;

    @include mobile-only {
        text-align:left;
        }

    &__titre {
        padding-top:1rem;
        font-family:"shrikhand";
        margin: 0;

        @include mobile-only {
            padding:1rem 1.5rem 0 1.5rem;
            }
    }

    &__liens {

        display:flex;
        justify-content:space-around;
        padding: 1.5rem;

        @include mobile-only {
            flex-direction: column;
            padding: 1rem 1.5rem;
            line-height: 2rem;
            }
    }

    &__liens a > i {
        padding-right:1rem;
    }
}