@charset "UTF-8";
@font-face {
  font-family: "roboto";
  src: url(./Polices/roboto-light-webfont.eot) format("eot"), url(./Polices/roboto-light-webfont.woff) format("woff"), url(./Polices/roboto-light-webfont.ttf) format("truetype"), url(./Polices/roboto-light-webfont.svg) format("svg");
}
@font-face {
  font-family: "shrikhand";
  src: url(./Polices/shrikhand-v6-latin-regular.eot) format("eot"), url(./Polices/shrikhand-v6-latin-regular.woff) format("woff"), url(./Polices/shrikhand-v6-latin-regular.ttf) format("truetype"), url(./Polices/shrikhand-v6-latin-regular.svg) format("svg");
}
.body {
  margin: 0;
  font-family: "roboto";
}
.body--grey {
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.header--white {
  background-color: #fff;
}
.header__top {
  display: flex;
  justify-content: center;
  position: relative;
  /* utile pour la fleche sur les pages menu */
  /*box-shadow: 0 0 0.5rem rgb(0 0 0 / 50%);*/
}
.header__top i {
  position: absolute;
  top: 2.5rem;
  left: 10rem;
  font-size: 1.2rem;
}
@media screen and (max-width: 599px) {
  .header__top i {
    left: 2rem;
  }
}
.header__top__logo {
  padding: 2rem;
}

.footer {
  text-align: center;
  background-color: #353535;
  color: white;
}
@media screen and (max-width: 599px) {
  .footer {
    text-align: left;
  }
}
.footer__titre {
  padding-top: 1rem;
  font-family: "shrikhand";
  margin: 0;
}
@media screen and (max-width: 599px) {
  .footer__titre {
    padding: 1rem 1.5rem 0 1.5rem;
  }
}
.footer__liens {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
}
@media screen and (max-width: 599px) {
  .footer__liens {
    flex-direction: column;
    padding: 1rem 1.5rem;
    line-height: 2rem;
  }
}
.footer__liens a > i {
  padding-right: 1rem;
}

.header {
  position: relative;
}
.header__bottom {
  text-align: center;
  background-color: #f3f3f3;
  padding-bottom: 2.5rem;
  line-height: 3rem;
}
@media screen and (max-width: 599px) {
  .header__bottom {
    line-height: normal;
  }
}
.header__bottom__saisie {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #e4e4e4;
  font-size: 1.2rem;
  line-height: 2.2rem;
}
.header__bottom__saisie__input {
  background-color: #e4e4e4;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 1rem;
  padding: 0.5rem;
  width: 10rem;
}
@media screen and (max-width: 599px) {
  .header__bottom__titre {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 599px) {
  .header__bottom__texte {
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
}

.nav {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-areas: "titre step1 step2 step3";
  text-align: center;
  gap: 2.5rem;
  margin-top: 2rem;
  height: 6.5rem;
  padding: 0 3rem;
}
@media screen and (max-width: 599px) {
  .nav {
    padding: 0 2rem;
    height: 26rem;
    margin-top: 1rem;
    grid-template-columns: 1fr;
    grid-auto-rows: 3rem 4rem 4rem 4rem;
    grid-template-areas: "titre" "step1" "step2" "step3";
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .nav {
    padding: 0 14rem;
    height: 26rem;
    margin-top: 1rem;
    grid-template-columns: 1fr;
    grid-auto-rows: 3rem 4rem 4rem 4rem;
    grid-template-areas: "titre" "step1" "step2" "step3";
  }
}
.nav__titre {
  grid-area: titre;
}
@media screen and (max-width: 599px) {
  .nav__titre {
    text-align: start;
  }
}
.nav__lien {
  box-shadow: 0px 10px 14px -6px rgba(121, 121, 121, 0.5);
  height: 4rem;
  background-color: #f6f6f6;
  border-radius: 1rem;
  line-height: 4rem;
  position: relative;
}
.nav__lien:nth-child(2) {
  grid-area: step1;
}
.nav__lien:nth-child(3) {
  grid-area: step2;
}
.nav__lien:nth-child(4) {
  grid-area: step3;
}
.nav__lien__step {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  margin: auto;
  text-align: center;
  color: white;
  background-color: #9356DC;
  position: absolute;
  left: -0.5rem;
  top: 1.2rem;
}

.icone_nav {
  margin-right: 1rem;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem;
}
@media screen and (max-width: 599px) {
  .restaurants {
    padding: 1rem 2rem 2rem 2rem;
  }
}
.restaurants__menus {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media screen and (max-width: 599px) {
  .restaurants__menus {
    grid-template-columns: 1fr;
  }
}

.menu {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
}
.menu__image {
  width: 100%;
  height: 13rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
@media screen and (max-width: 599px) {
  .menu__image {
    height: 11rem;
  }
}
.menu__badge {
  background-color: #99E2D0;
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem 1rem;
  color: #1b6150;
  border-radius: 0.25rem;
  font-weight: bold;
}
@media screen and (max-width: 599px) {
  .menu__badge {
    padding: 0.5rem 0.5rem;
    top: 0.5rem;
    right: 0.5rem;
  }
}
@media screen and (max-width: 599px) {
  .menu__titre {
    margin: 0.5rem 0;
  }
}
.menu__content {
  padding: 0 2rem 1rem 1rem;
}
.menu__like {
  position: absolute;
  right: 2rem;
  bottom: 1.75rem;
  font-size: 1.75rem;
}
@media screen and (max-width: 599px) {
  .menu__like {
    font-size: 1.5rem;
  }
}

.button {
  padding: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5rem;
  background: linear-gradient(178deg, #FF79DA 0%, #9356DC 100%);
  color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.header__image__img {
  height: 30rem;
  /* avant 19 */
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 599px) {
  .header__image__img {
    height: 15rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .header__image__img {
    height: 20rem;
  }
}

.cartes {
  background-color: #f6f6f6;
  /* peut être mixin ici vu que cest pareil sur pages et accueil */
  border-radius: 4rem 4rem 0 0;
  position: relative;
  bottom: 3.5rem;
}
@media screen and (max-width: 599px) {
  .cartes {
    width: 100%;
  }
}
.cartes__header {
  display: flex;
  font-family: "shrikhand";
  justify-content: space-around;
  font-size: 2rem;
}
@media screen and (max-width: 599px) {
  .cartes__header {
    font-size: 1.5rem;
    justify-content: space-evenly;
  }
}
.cartes__header i {
  margin-top: 3rem;
}
@media screen and (max-width: 599px) {
  .cartes__header i {
    margin: 1.6rem 0 0 0;
  }
}
@media screen and (max-width: 599px) {
  .cartes__header__title {
    margin: 1rem 0;
  }
}
.cartes__contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 599px) {
  .cartes__contents {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .cartes__contents {
    grid-template-columns: 1fr;
  }
}

.content {
  padding: 0 2rem;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .content {
    padding: 0 8rem;
  }
}
.content__title {
  padding: 1rem;
  position: relative;
}
@media screen and (max-width: 599px) {
  .content__title {
    margin: 0;
  }
}
.content__title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 1rem;
  top: 3rem;
}
.content__texte {
  display: flex;
  background-color: #fff;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  justify-content: space-between;
}
.content__texte__txt__subtitle {
  margin: 0;
}
.content__texte__txt__description {
  margin: 0.5rem 0;
}
.content__texte__price {
  font-weight: bold;
}

.bouton {
  /* obligé de faire une div pour pouvoir flex donc pas de modificateur */
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/*# sourceMappingURL=style.css.map */
